* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 20px;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    background-color: transparent;
    z-index: 100;

}

header.scroll {
    padding: 20px;
    background-image: none;
    background-color: rgb(249, 250, 253);
    width: 100%;
    transform: translate(0, 0);
    display: flex;
    justify-content: space-around;
    top: 0;

}

ul li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
}

ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #212832;
    font-weight: 500;
    padding: 10px;
}


ul select {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

ul li a:hover{
    color: #DF6951;
}

.sign-up button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
   
}
.sign-up>button{
    border: 0;
    background: none;
    font-size: 20px;
    text-decoration: none;
    color: #212832;
    font-weight: 500;
    width: 130px;;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #000;
    height: 33px;
}
/* .sign-up>button:hover{
    color: #FFFEFE;
} */
.icon {
    display: none;
}

@media screen and (max-width: 800px) {
    ul {
        display: none;
    }

.container-travel > .traval-enjoy .img-company{
display:none
}
    .book-container>.setps>.content>.heart-card {
        display: block;
        /* position: relative;
        left: 13%; */
        top: -200px;
    }

    .icon {
        display: block;
    }
    .container-travel > .traval-enjoy >.traval {
        padding: 0;
    }
    .container-servies > .ser >.servies p{
        padding-top: 35px;
    }
    * {
        font-size: 12px;
    }

    .servies img {
        display: none;
    }

    .traval h1>img {
        display: none;
    }

    .container-travel>.traval-enjoy,
    .container-servies>.ser>.servies-category,
    .top-container>.topsell,
    .book-container>.setps>.content, .footer {
        display: block;
        /* width: 100%; */
       
     
    }

    .container-servies>.ser>.servies-category{
             margin: 33px;
    }


    .container-servies>.ser>.servies-category>.cardservices {
        width: 100%;
   
    }

    .container-servies, .top-container {
        /* position: relative;
        left: 25%; */
    }

    .card-cell {
        /* width: 100%; */
        margin-bottom: 18px;
    }

    .book-container>.setps {
        width: 100%;
    }

    .book-container {
        /* position: relative;
        left: 35%; */
    }
    .container-people{
        /* margin-left: 55px; */
    }

    .with-shapes {
        display: none;
    }

    .topsell {
        display: block;
    }

    .easy-fast {
        margin: auto;
    }

    .book-container>.setps>.content>.card-trip {
        margin-left: -9%;
        margin-top: 35px;
    }

    .book-container>.setps>.content>.card-trip>img {
        display: none;
    }

    .container-people>.about-us {
        display: block;
        margin-top: 35%;
    }

    .container-people>.about-us .card2, .container-people>.about-us .card3 {
        position: relative;
        right: 0;
        left: 7%;
        top: 14px;
        z-index: 1;
    }

    .container-company>.content-images {
        display: grid;
    justify-content: start;
    margin-left: 22px;
    }
    .book-container .heart-card{
        right: 0;
        display: block;
        top: 324rem;
        position: absolute;
    }

    .container-company>.content-images>img {
        margin: 17px;
        /* position: relative;
        right: 0;
        left: 45%; */
        z-index: 1;
    }

    .container-email>.send {
        display: none;
    }

    .container-email>.subs {
        width: 100%;
        display: block;
    }

    .container-email {
        /* position: relative;
        left: 25%; */
    }
    header{
        /* justify-content: space-between; */
    position: fixed;
    top: -16px;
    }

}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


.traval-enjoy {
    position: relative;
    /* top: 54px; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    top: 100px;

}

.container-travel {
    background-size: cover;
    background-image: url(assets/images/hero-bg.svg);
    background-color: transparent;
    position: relative;

}

.card-cell>img:hover {
    transform: scale(1.2);
    transition: all 1.2s ease-in;
}

.img-company {
    transition: transform 2s;
}

.top-container, .book-container {
    width: 85%;
    margin: auto;
    /* height: 550px; */
}

.img-company:hover {

    transform: translateX(-25%)
}

.traval h4 {
    color: #DF6951;
    font-weight: 700;
    font-size: 20px;
}

.traval h1 {
    font-weight: 700;
    color: #181E4B;
    font-size: 4.8rem;
    line-height: 4.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
}

.traval {
    padding: 30px;
    margin-top: 50px;

}

.traval h1>img {
    position: absolute;
    top: 35%;
    left: 21%;
    z-index: -1;
}

.parag p {
    font-weight: 500;
    color: #5E6282;
    font-size: 15px;
}

.icon-grou>img:hover {
    cursor: pointer;
}

.parag {

    width: 77%;
}

.buttons {
    display: flex;
    margin-top: 25px;
}

.find {
    color: #FFFEFE;
    background-color: #F1A501;
    border-color: #F1A501;
    border-radius: 8px;
    font-size: 1.6rem;
    border-radius: 12px;
    padding: 14px;
    text-align: center;
    transition:background-color 2s

}

.find:hover {
    background-color: #DF6951;
    cursor: pointer;
    border: #DF6951;
    padding: 16px;
}

.buttons .playvideo {
    margin: 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #DF6951;
    border-color: #DF6951;
    transition: width 1s,height 1s,background-color 1s,padding 1s;

}

.video-show {
    margin: 20px
}

.demo {
    color: #5E6282;
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    transition: transform 2s;


}

.demo:hover {
    color: #F1A501;
    cursor: pointer;
    transform: translate(20%, 0%);
}
.playvideo:hover{
    width: 60px;
    height: 60px;
    background-color:#F1A501;
    padding: 5px;
}

.top-container {
    width: 85%;
    margin: auto;
}

.ser {

    margin: auto;

}

.servies {

    text-align: center;
    line-height: 0.01rem;
    display: flex;
    justify-content: center;
    margin-top: 17%;
    margin-bottom: 7%;
}

.servies .cat {
    line-height: 5rem;
}

.servies p, .top h5 {
    color: #5E6282;
    font-size: 1.5rem;
    font-weight: bold;
}

.servies h5 {
    font-size: 3rem;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
}

.top h3 {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 600
}

.servies img {
    position: absolute;
    right: 0;
}

.servies-category {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.servies-category .cardservices {
    padding: 60px;
    width: 270px;


}

.servies-category .cardservices h4 {
    font-weight: 600;
    line-height: 1.2;
    color: #14183E;
    font-size: 1.2rem;
}

.servies-category .cardservices p {
    font-weight: 500;
}

.servies-category .cardservices {
    position: relative;
    transition: all 0.2s ease-in-out;
}

.servies-category .cardservices:hover {
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3rem;
    /* width: 17%; */
    border: none;
    background-color: #FFFEFE;
    background-clip: border-box;

}

.servies-category .cardservices::before {
    content: '';
    position: absolute;
    left: -2rem;
    bottom: -2rem;
    width: 6rem;
    height: 6rem;
    background-color: #DF6951;
    border-radius: 2rem 0 1rem 0;
    z-index: -1;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.with-shapes {
    top: 60px;
    z-index: -1;
    position: relative;
    right: 60px;
}

.servies-category .cardservices:hover::before {
    transform: scaleX(1);
}

.topsell {
    margin: auto;
    position: relative;
    /* left: 81px; */
    margin-top: 8%;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.card-cell>img {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* width: 400px; */
    padding: 10px;
}


.inform h4:hover {
    color: #F1A501;
}

.card-cell {
    overflow: hidden;
    margin: 10px;
    background-color: #FFFEFE;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);

}

.card-cell .inform {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #5E6282
}
.trip span{
    color: #5E6282
}


.data-sell {
    background-color: #FFFEFE;
    color: #212832;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2.5rem;
    padding: 12px;
}

.trip {
    text-align: left;
    margin-left: 13px;

}

.top {
    text-align: center;
    line-height: 4rem;
    margin-top: 10%;
}

.setps {

    margin: auto;
    display: flex;
}

.content {
    width: 85%;
    display: flex;
    /* justify-content: space-around; */


    margin-top: 17%;

}

.easy-fast h5 {
    color: #5E6282;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.easy-fast h3 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
}



.des img, .des2 img, .des3 img {

    transform: translate(0px, 10px);
}

.disc-contain>.des {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background-color: #F1A501;
    text-align: center;
    margin-right: 21px;
}

.des2 {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background-color: #DF6951;
    text-align: center;
    margin-right: 21px;
}

.des3 {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    background-color: #006380;
    text-align: center;
    margin-right: 21px;

}

.disc-contain {
    display: flex;
    margin-top: 15px;
}

.disc-contain h5 {
    color: #5E6282;
    font-weight: 700;
    font-size: 1rem;
}

.disc-contain p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5E6282;
}

.card-trip .card {

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 350px;
    background-color: #FFFEFE;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
    padding-bottom: 10px;

}

.card>img {
    border-radius: 2.5rem;
    margin-top: 0.5rem;
    width: 100%;
    padding: 15px;

}

.card-trip>img {
    width: 100%;
    position: relative;
    bottom: 72%;
    left: 50%;
    z-index: -1;



}

.card-trip {
    margin-left: 100px;


}

.card h5 {
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
}

.card p {
    color: #5E6282;
    font-weight: 500;
    font-size: 1rem;
}

.icon-group {
    display: flex;
    margin-left: 16px;
}

.icon-group div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(241, 232, 232);
    border: rgb(241, 232, 232);
    margin: 10px;
}

.icon-card {
    margin: 9px;

}

.footer-card {
    margin-left: 20px;
    display: flex;
}

.footer-card div {
    padding-top: 11px;
    font-weight: 500;
    color: #5E6282;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heart {
    bottom: 6px;

    position: relative;
    right: 20px;
}

.heart-card {
    top: 160rem;
    width: 266px;
    border-radius: 18px;
    padding: 16px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
 
    position: absolute;
    right: 180px;
}

.img-card>img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.img-card h5{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #5E6282;

}

.body-card h5 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #5E6282;
}

.body-card h6, .body-card p {
    font-size: 400;
    font-size: 16px;
    color: black;
}

.body-card p span {
    color: #111e8f;
    font-weight: 400;
    line-height: 1.2;
}

progress {
    accent-color: #111e8f;
}

.heart-card {
    display: none;
}

.buttons a {
    margin-top: 10px;
}

.about-us {
    margin: auto;
    width: 85%;

    display: flex;
    justify-content: space-around;
    bottom: 90px;
}


.content-about>h5 {
    font-size: 1.3rem;
    color: #5E6282;
    font-weight: 600;
    line-height: 1.2;
}

.content-about>h3 {
    color: #181E4B;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.points {
    display: flex;
    margin-top: 50px;

}

.points div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c4c4c4;
    border: none;
    margin: 10px;
}

.about-card>.card-ab {
    padding: 16px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    color: #5E6282;
    background-color: #FFFEFE;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
}

.about-card>.card-ab>h5 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 33px;
}

.about-card>img {
    margin-left: -22px;
    margin-bottom: -13px;
}

#card1 {

    z-index: 1;
}

#card2 {

    z-index: -1;

}

.about-card>img {
    width: 68px;
    height: 68px;
}

#card3 {
    z-index: -2;
}

.updown {
    margin-top: 11%;
    margin-left: 26px;
}

.content-about {
    width: 100%;
}

.content-images {
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.container-people {
    margin-top: -10%;
}

.container-company {
    margin-top: 10%;
}

.subs {
    height: 320px;
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: auto;
    background-color: rgba(223, 215, 249, 0.199);
    border-radius: 129px 20px 20px 20px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5E6282;
}

.container-email {
    margin-top: 12%;
}

.subs .img2 {
    bottom: 16px;
    position: relative;
    top: -67px;
    left: 41px;
    right: 0;
    width: 20%;
}

.subs .img1 {
    width: 20%;
    top: 71px;
    position: relative;
    right: 0;
    left: -42px;

}

.enteremail {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5E6282;
}

.container-email>.send {
    top: 53px;
    position: relative;
    left: 90%;
}

.content-images img {
    transition: all 0.3s ease;
    filter: grayscale(1);
    width: 150px;
}

.content-images img:hover {
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border: none;
    border-radius: 1rem;
    background-color: #FFFEFE;
    background-clip: border-box;
    cursor: pointer;
    filter: grayscale(0);
}

.enteremail .container-em {
    display: flex;
    justify-content: space-around;
    margin-top: 7%;

}

input {
    border: none;
}

.input-email {
    margin: 13px;
    width: 90%;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    color: #39425D;
    border: none;
    font-size: 14px;
    border: 1px solid #ddd;
    background: url(assets/icons/mail.svg);
    background-repeat: no-repeat;
    background-position: 20px 15px;
}
.input-email::placeholder{
  padding: 40px;
}
.input-email:focus{
    border: 1px solid #ddd;
}
input::placeholder {
    padding: 10px;
    color: #39425D;
}

.container-em button {
    margin-top: 11px;
    height: 55px;
    background-color: #FF946D;
    border: none;
    border-radius: 0.625rem;
    padding: 1rem 2.5rem;
    color: white;
    font-size: 1.2rem;

}

.container-em>button:hover {
    background-color: #F1A501;
    cursor: pointer;

}

footer {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 10%;

}

footer ul li {
    list-style: none;
}

footer ul {
    display: block;
}

footer div h6 {
    color: #5E6282;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 29px;

}

footer ul li a {
    color: #5E6282;
    font-weight: 500;

}

footer div h2 {
    color: #080809;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 16px;
    line-height: 4.5rem;
}

.back-icon {
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: #FFFEFE;
    border-radius: 50%;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.25);
}

.back-icon img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 15px;

}

.icon-grou {
    display: flex;
}

.icon2:hover {
   background-image: conic-gradient(#c01dc0 45deg, #d1c4ce  210deg, #eb51eb 180deg);
    /* background-image: linear-gradient(to top, #c01dc0, #d1c4ce); */
    cursor: pointer;

}
.icon1:hover {
    cursor: pointer;
    background-image: conic-gradient(#3b5998 45deg, #3b5998  210deg, #3b5998 180deg);
}
.icon3:hover{

    cursor: pointer;
    /* background-image: conic-gradient(#00acee 45deg, #00acee  210deg, #00acee 180deg); */

}

.parag-footer {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 1rem;
    color: #5E6282;
}

.logo2 {
    padding-top: 21px;
}